.dashboard{
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    background-size: cover;
    height: 40vh;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: flex-start;
    

    
}

.bill{
margin-left: 5%;
margin-bottom: 5%;
box-sizing: border-box;


    p{
        font-size: 15px;
        color: gray;
        margin-bottom: 5px;
    }
  input{
    background-image: url("../assets/images/icon-dollar.svg");
    background-repeat: no-repeat;
    font-size: 24px;
    padding: 5px;
    background-position: 5%;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background-color: hsl(189, 41%, 97%);
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    color: hsl(183, 100%, 15%);
    margin-bottom: 2%;
    font-family: 'Space Mono', monospace;
     
  }
  :focus{
        outline: none;
        border: hsl(172, 67%, 45%) 2px solid;
        appearance: none;
        
    }
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  
}

}

.tips{
  margin-left: 5%;
  margin-top: 5%;
.btns{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 10px;

  
.btn:hover{
  background-color: hsl(172, 67%, 45%);
  cursor: pointer;
}
.btn:focus{
      background-color: hsl(172, 67%, 45%);
      box-sizing: border-box;
    }

  .btn{
    font-size: 30px;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
    
  }
}


    p{
    
    font-size: 15px;
    color: gray;
    margin-bottom: 5%;
  }

  input{
    background-position: 5%;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    margin-top: 0px;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    color: hsl(183, 100%, 15%);
     
  }
  :focus{
        outline: none;
        border: hsl(172, 67%, 45%) 1px solid;
        appearance: none;

      
    }
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
 
}

}
.people{
  margin-left: 5%;
  margin-top: 5%;
  
  
      p{
          font-size: 15px;
          color: gray;
          margin-bottom: 0px;
          margin-top: 5%;
      }
    input{
      background-image: url("../assets/images/icon-person.svg");
      background-repeat: no-repeat;
      font-size: 19px;
      padding: 5px;
      background-position: 5%;
      border: none;
      font-size: 24px;
      border-radius: 3px;
      margin-top: 3%;
      background-color: hsl(189, 41%, 97%);
      width: 100%;
      text-align: right;
      box-sizing: border-box;
      color: hsl(183, 100%, 15%);
      font-family: 'Space Mono', monospace;
    }
    :focus{
          outline: none;
          border: hsl(172, 67%, 45%) 2px solid;
          appearance: none;
      }
      
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  }